# List


List are oredered sequence of mixed data types
List are written in comma separated elements within the square brackets

In [1]:
my_list=[10,'goutam',20.6]
print(my_list)

[10, 'goutam', 20.6]

In [6]:
print(len(my_list))
type(my_list)

3

list

# Nested List

In [7]:
list2 = ["India","Delhi",5,60,['Rajkot','Surat','Mumbai']]

In [9]:
list2[4]

['Rajkot', 'Surat', 'Mumbai']

In [ ]:
#Slicing
list2[-1][-2]

'Surat'

In [11]:
list2[4][2]

'Mumbai'

In [16]:
#List Concatenation
list1 = [1,2,3,4,'Rajasthan']
list3 = list2 + list1

In [17]:
print(list3)

['India', 'Delhi', 5, 60, ['Rajkot', 'Surat', 'Mumbai'], 1, 2, 3, 4, 'Rajasthan']

In [19]:
#String  Concatenation
a = 'hello'
b = 'Raja'
c = a + ' ' + b
print(len(c))

10

In [ ]:
#Adding the elements to an existing list
list4 = [1,2,3,4]
new_list = list4 + [5,6,7]
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

In [21]:
# Membership in list and tuple
print(5 in new_list)

True

Mutablitiy

In [27]:
list1 = ['Maths','English','Chemistry','Physics','Biology']

In [28]:
list1[4] = 'Computer Science'

In [29]:
print(list1)

['Maths', 'English', 'Chemistry', 'Physics', 'Computer Science']

In [26]:
#extend() function --> to add multiple elements at once
my_list1 = [1,2,3,4,7,8]
my_list1.extend([9,10,11,13])
print(my_list1)

[1, 2, 3, 4, 7, 8, 9, 10, 11, 13]

In [31]:
#Append() function --> to add single element at a time
my_list1 = [1,2,3,4,7,8]
my_list1.append([9,10])
print(my_list1)

[1, 2, 3, 4, 7, 8, [9, 10]]

In [37]:
#del command to delete an element from a list
del my_list1[-1]
print(my_list1)

[1, 2, 8]

In [38]:
#pop() function to remove the last element from a list as the default
my_list1.pop()

8

In [41]:
# Remove method to remove a specific element
my_list1 = [1,2,3,4,7,8]
my_list1.extend([9,10,11,13])
my_list1.remove(7)
print(my_list1)

[1, 2, 3, 4, 8, 9, 10, 11, 13]

In [44]:
#Sorting a list
my_list1.sort(reverse=True)
print(my_list1)

[13, 11, 10, 9, 8, 4, 3, 2, 1]

Difference between sort and sorted

list.sort()

Method of list objects

Sorts the list in place (modifies the original list)

Returns None

In [46]:
A = ['Orange','Apple','Banana','Mango']
B = A.sort()
print(A)
print(B)

['Apple', 'Banana', 'Mango', 'Orange']
None

sorted()

Built-in function (not limited to lists)

Creates and returns a new sorted list

Works on any iterable (list, tuple, set, string, etc.)

Original data remains unchanged

In [47]:
A = ['Orange','Apple','Banana','Mango']
B = sorted(A)
print(A)
print(B)

['Orange', 'Apple', 'Banana', 'Mango']
['Apple', 'Banana', 'Mango', 'Orange']

Shallow Copy

In [48]:
A = ['Orange','Apple','Banana','Mango']
B = A
print(B)
print(A)

['Orange', 'Apple', 'Banana', 'Mango']
['Orange', 'Apple', 'Banana', 'Mango']

In [49]:
A.pop()

'Mango'

In [50]:
print(A)

['Orange', 'Apple', 'Banana']

In [51]:
B

['Orange', 'Apple', 'Banana']

In [52]:
A = ['Orange', 'Apple', 'Banana', 'Mango']
B = A[0:3]
print(B)

['Orange', 'Apple', 'Banana']

In [56]:
input_str = 'Kumar_Ravi_003'

In [61]:
print(input_str[6:10])
print(input_str[0:5])
print(input_str[11:15])

Ravi
Kumar
003

In [62]:
input_str = 'Kumar_Ravi_003'
list1 = input_str.split('_')

In [63]:
print(list1)

['Kumar', 'Ravi', '003']

In [64]:
list1[0] , list1[1] = list1[1], list1[0]

In [65]:
print(list1)

['Ravi', 'Kumar', '003']