# Map , Reduce and Filter
0. utility function-maps a collection to another collection object based on certain functionlity
1. map(function , iterable object)

In [2]:
#Area of the circle
import math

def area(n) :
    return math.pi*(n**2)

radii = [1,2,3,4,5]
areas = []
for r in radii:
    a = area(r)
    areas.append(a)

In [3]:
areas

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [4]:
#Using map function
map(area, radii)

In [5]:
list(map(area, radii))

[3.141592653589793,
 12.566370614359172,
 28.274333882308138,
 50.26548245743669,
 78.53981633974483]

In [6]:
# Convert the Celsius to Fahrenheit using the F = (C * 9/5) + 32 formula
def c_to_f(c):
    return (c * 9/5) + 32

c = [0, 10, 20.1, 34.5]
x = list(map(c_to_f, c))

In [7]:
x

[32.0, 50.0, 68.18, 94.1]

In [8]:
# Filter function
def is_even(n):
    return n%2 == 0

f = [1,2,3,4,5,6,7,8,9,10]
even_numbers = list(filter(is_even, f))

In [9]:
even_numbers

[2, 4, 6, 8, 10]

In [10]:
import statistics
data = [1,2,3,4,5,9,12,15,18,20]
avg = statistics.mean(data)

In [11]:
avg

8.9

In [15]:
list(filter(lambda x: x > avg, data))

[9, 12, 15, 18, 20]

In [2]:
####Getting ride of the null/NaN Values
name = ["Rja" , "Neha" , 0 , 0.0  , "" , "Namrate"]

In [3]:
filter(None, name)

In [4]:
list(filter(None, name))

['Rja', 'Neha', 'Namrate']

In [9]:
name1 = [12,19,21,0,0.0,11,"" , 5,9]

In [10]:
filter(None, name1)

In [11]:
list(filter(None, name1))

[12, 19, 21, 11, 5, 9]

In [14]:
# reduce function
from functools import reduce

data = [1,2,3,4,5]

In [15]:
multi = lambda X , Y : X * Y
reduce(multi, data)

120

In [16]:
sum = lambda X , Y : X + Y
reduce(sum, data)

15