# Tuples
1.Tuples are the oredered sequence of the data types.
2.Tuples are written in comma separated elements within parenthesis

In [2]:
t = (1,2,3,4)
type(t)

tuple

In [3]:
len(t)

4

In [6]:
#Nested Tuple
t1 = (1,2,3,4,5,(6,7,8))
t2=(1,5,6,7,8,[3,4,2])
t2[5]

[3, 4, 2]

Definning ways of the tuples

In [7]:
t1 = 1.2 , 3, 5 ,7 , 0
print(t1)

(1.2, 3, 5, 7, 0)

In [ ]:
#Single element tuple
t1 = 1.2,
type(t1)

tuple

In [9]:
t2 = (1.2,)
type(t2)

tuple

In [10]:
#Indexing and Slicing
t = ("Mumbai","Delhi","Kolkata","Chennai",105,103,200)

In [11]:
len(t)

7

In [ ]:
t[2:] # if we give the [2 : 4] it will give the 2nd and 3rd index value only and giving the [:-1] it will give all the values except the last index value.

('Kolkata', 'Chennai', 105, 103, 200)

In [16]:
str1 = "Hii I am learning Python"
str1[6:]

'am learning Python'

In [17]:
#Concatenation
tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
tup3 = tup1 + tup2

In [18]:
tup3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
#min , max , sum
tup1 = (1,2,3,4,5)

sum(tup1)

15

In [21]:
max(tup1)

5

In [22]:
min(tup1)

1

In [23]:
# Immutability
t = ("Hello!","Welcome",5,10,"world","of","Analytics!!")

In [ ]:
t[0] = "Hii" # This will give an error as tuples are immutable and we cannot change the values of tuples.

TypeError: 'tuple' object does not support item assignment

In [25]:
# How to update the 2nd and 3rd index value of the tuple
new_tup = t[:2] + ("to", "the") + t[4:]

In [26]:
new_tup

('Hello!', 'Welcome', 'to', 'the', 'world', 'of', 'Analytics!!')

In [30]:
Tup = ("Discover",1,562,3,4)
Tup[0][5]

'v'

In [36]:
# Sorting in a tuple
t = (5,3,8,1,2,7,4,6)

type(sorted(t))

list

In [31]:
# TypeCasting
list1 = [1,2,3,4,5]
tuple1 = tuple(list1)

In [32]:
tuple1

(1, 2, 3, 4, 5)

In [33]:
tuple1 = 5,6,7,8,9
list = list(tuple1)

In [34]:
list

[5, 6, 7, 8, 9]